html, body{
	height:100%;
	width:100%;
	margin:0;
	overflow-y: hidden;
	overflow-x: hidden;
	


}
a{
	color:white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
#face{
	background-image: url("face.png");
}

#header{
	min-width:100%;
	height:28%;
	background-color: black;
	color:white;
	font-size:36px;
	position: relative;
	

	
}

.menu{
	font-family: "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
   display: inline;
    }

.info{
	position:fixed;
	top:0;
	left:0;
	width:30px;
	text-align:right;
	padding-left:10px;
	padding-top:5px;
	
	


}
.about{
	position:fixed;
	top:0;
	right:0;
	width:30%;
	text-align: right;
	padding-right:10px;
	padding-top: 5px;

}
.apps{
	bottom:0;
	text-align: right;
	margin-top:-200px;
}


#logo{
	margin: auto;
	height: 250px;
	width:1000px;
	background: url("pf.jpg");
	object-fit: contain;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 20px;
		

}

.block {
	width: 650px;
	height:380px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	display: inline;


	
}
#block1{
	background-image: url("master.jpg");
}
#block2{
	background-image:url("rainbow.jpg");
}
#block3{
	background-image:url("foka.jpg");
}
#block4{
	background-image:url("tiretix.png");
}
#block5{
	background-image:url("rat.png");
}
	.backbutton{
		position: absolute;
		left:0;
		bottom:0;

	}
.forwardbutton{
	position: absolute;
	right:0;
	bottom:0;
}
#main{
	width:200%;
	height:400px;
	background-color: white;
	float: left;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	display: inline; 
	position: relative;

		

}

#footer{
	min-width:100%;
	min-height: 33%;
	background-color: black;
	display:flex;
	position: relative;
	overflow:hidden;
	
}


.wrapper{
	max-width: 10000px;
    background: black;
    height: 80px;
    text-align: right;
    top:-15px;
    
    }

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -30px;
    float:left;
    
}
.swing img {
    
    display: block;
}
.swing:after{
    
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }

    100% { transform: rotate(-3deg); }
}


	
}
#wrapper.img{
	 border-radius: 8px;
	 /*border: 1px solid #ddd;*/
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  color: #333;
  margin: 250px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-height: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;*/
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FFFF00;
}
.popup .content {
  max-height: 40%;
  overflow: auto;
}

.content{
	font-size: 20px;
}


@media only screen and (max-width: 1023px){
	.block{
		width:100%;
		height:30%;
		
	}
	#logo{
		width:80%;

		
	}
	#header{
		height:30%;
		
	}

	#main{
		max-height: 40%;
	}

	#footer{
		height:30px;

		
}


	#menu{
		font-size: 40%;
	}
}

